@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&family=Tilt+Warp&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
.boldfont {
  font-family: "Tilt Warp", cursive;
}
.baloo {
  font-family: "Baloo Bhaina 2", cursive;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

.recent-image {
  max-width: 100%;
  height: auto;
}

.shadowTop{
  -webkit-box-shadow: inset 25px 200px 286px 52px rgba(84,98,242,0.8);
-moz-box-shadow: inset 25px 200px 286px 52px rgba(84,98,242,0.8);
box-shadow: inset 25px 200px 286px 52px rgba(84,98,242,0.8);
}



input,
textarea,
div,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.text-select-disable {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}

.BottomNavigationAction {
  padding: 0;
  min-width: 20px;
}
.control {
 @apply hover:bg-gray-200 bg-opacity-90 p-2 duration-300 transition-all  rounded-full 
}
.active{
  @apply bg-gray-200
}

.sell-button-container {
  border-style: solid;
  border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
  border-radius: 50%;
}
.owner{
  flex-direction: row-reverse;
  border-bottom-left-radius: 0px;
}
.otheruser{
  border-bottom-right-radius: 0px;

}
.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  

  
}
.messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
.messageContent img {
  width: 50%;
}
.scrollbar {
    scrollbar-color: #2e343d transparent;
    scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    opacity: 0;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #2e343d;
    opacity: 1;
}

#ReactSimpleImageViewer {
    z-index: 99;
}
#ReactSimpleImageViewer .react-simple-image-viewer__close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #2e343d;
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-bottom: 10px;
}
@media screen and (max-width : 767px) {
  body {
    /* Disable text selection for all elements */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
  
    
  }
  /* Enable text selection for input fields */
  input {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
  }
}
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}



