@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&family=Tilt+Warp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
.boldfont{
    font-family: 'Tilt Warp', cursive;
}
.baloo{
	font-family: 'Baloo Bhaina 2', cursive;
}
.roboti{
	font-family: 'Roboto', sans-serif;
}
.ubuntu{
	font-family: 'Ubuntu', sans-serif;
}

.recent-image{
	max-width: 100%;
	height: auto;
}

input,
textarea,
div,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.text-select-disable{
	-moz-user-select:none; /* firefox */
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE*/
   user-select: none; /* Standard syntax */
}

.BottomNavigationAction{
	padding: 0;
	min-width: 20px;
}

.sell-button-container{
	
	
	
	border-style: solid;
	border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
	border-radius: 50%;
  }